


.button_click {
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 9,8,5,4,3;
    -fx-font-family: "Helvetica";
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-end-margin: 30;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: black;

}
#button_click Text {
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , -1 );
}



.reset_button_click {
    -fx-background-color:
            linear-gradient(#fcf0ad, #f5e1b9);
    -fx-background-radius: 9,8,5,4,3;
    -fx-font-family: "Helvetica";
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-end-margin: 30;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: black;

}



.choice-box {
    -fx-font-family: "Helvetica";
    -fx-background-color: #e2fadb;
    -fx-font-weight: bold;
    -fx-min-width: 200;
    -fx-max-width: 200;
    -fx-border-color: #969696;
    -fx-border-width: 1px;
}
.choice-box .context-menu {
    -fx-background-color: #cefac6;
    -fx-pref-width: 200;
    -fx-font-weight: normal;


}
.choice-box .menu-item:focused { -fx-background-color: #adf8a0; }
.choice-box .menu-item > .label { -fx-text-fill: #00000c; }
.choice-box .menu-item:focused > .label { -fx-text-fill: #88122e; }